[transport-udp]
type=transport
protocol=udp
bind=0.0.0.0

[7001]
type=endpoint
context=from-jazz
disallow=all
allow=ulaw
auth=7001-auth
aors=7001

[7001-auth]
type=auth
auth_type=userpass
username=7001
password=replace-with-a-strong-sip-password

[7001]
type=aor
max_contacts=1
remove_existing=yes
qualify_frequency=30
